#address-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.address-form__input {
    margin: 5px !important;
}
.MuiStepIcon-root.MuiStepIcon-active
 {
    color: #A7414A !important;
 }
.MuiStepIcon-root.MuiStepIcon-completed
 {
    color: #6A8A82 !important;
 }