.menu-icon{
    width: 20px;
    height: 20px;
}
.cookie-icon{
    background-image: url('../icons/022-cookie.svg');
}
.cake-icon{
    background-image: url('../icons/027-cake-slice.svg');
}
.home-icon{
    background-image: url('../icons/034-bakery.svg');
}